<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decision</title>
</head>
<body>
<!--/*@thymesVar id="decision" type="an.deciderweb.model.Decision"*/-->
<!--/*@thymesVar id="demanderList" type="an.deciderweb.model.Demander"*/-->
<!--/*@thymesVar id="offerList" type="java.util.List<an.deciderweb.model.Offer>"*/-->
<!--/*@thymesVar id="opinions" type="an.deciderweb.model.helper.Opinions"*/-->

<form action="newDemander">
    <input type="hidden" name="decisionId" th:value="${decision.id}">
    <!-- TODO Checkbox mit Erlaube zurueck zur Decision zu gehen -->
    <input type="submit" value="New Demander">
</form>

<br>
<br>

<!--
<form action="GetOffers" method="get">
    <input type="hidden" name="decisionName" value="<% out.print(decision.getName()); %>">
    <input type="number" name="emptyColumns" value="1">
    <input type="submit" value="Add Offers">
</form>
-->

<br>
<br>

<table border="1">
    <tr>
        <th colspan="4">
            <form action="">
                <input type="submit" name="save" value="Save Changes">
            </form>
        </th>
        <div th:if="${demanderList.isEmpty()}">
            <th>No Demanders available!</th>
        </div>
        <div th:if="${!demanderList.isEmpty()}">
            <th:block th:each="demander : ${demanderList}">
                <th th:text="${demander.name}"></th>
            </th:block>
        </div>
    </tr>

    <tr>
        <th> name</th>
        <th> available</th>
        <th> min group size</th>
        <th> max group size</th>
        <div th:if="${!demanderList.isEmpty()}">
            <th:block th:each="demander : ${demanderList}">
                <td><input type="checkbox" th:checked="*{demander.hasToBeIncluded}" onclick="return false"></td>
            </th:block>
        </div>
    </tr>

    <div th:if="${!offerList.isEmpty()}" >
    <div th:if="${!demanderList.isEmpty()}">
        <tr th:each="offer : ${offerList}">
            <td th:text="*{offer.name}"></td>
            <td th:text="*{offer.available}"></td>
            <td th:text="*{offer.minGroupSize}"></td>
            <td th:text="*{offer.maxGroupSize}"></td>
            <th:block th:each="demander : ${demanderList}">
                <td th:text="${opinions.get(demander.id, offer.id)}"></td>
            </th:block>
        </tr>
    </div>
    </div>

</table>

</body>
</html>