<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="demander" type="an.deciderweb.model.Demander"*/-->
<!--/*@thymesVar id="opinionList" type="java.util.List<an.deciderweb.model.Opinion>"*/-->
<!--/*@thymesVar id="offerIdOfferNameMap" type="java.util.Map<java.lang.Integer, java.lang.String>"*/-->

<form action="/createDemander" th:object="${demander}" method="get">
    <input type="hidden" th:field="*{decisionId}">

    <table>

        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" required></td>
        </tr>

        <tr>
            <td>Insists on group</td>
            <td><input type="checkbox" th:checked="*{hasToBeIncluded}"></td>
        </tr>

        <th:block th:each="opinion : ${opinionList}">
            <tr>
                <td th:text="${offerIdOfferNameMap.get(opinion.id)}"></td>
                <input type="hidden" th:field="${opinion.demanderId}" required>
                <input type="hidden" th:field="${opinion.offerId}" required>
                <td><input type="number" th:field="${opinion.value}" required></td>
            </tr>
        </th:block>

    </table>

    <input type="submit" value="Create Demander">
</form>

</body>
</html>