<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer</title>
</head>
<body>
<%@page
import="java.util.*"
import="decider.web.dao.*"
import="decider.input.*"
%>
<%
String decisionName = (String) request.getParameter("decisionName");
if (decisionName == null) {
throw new IllegalStateException();
}
OfferDao offerDao = new OfferDao();
offerDao.connect();
List<Offer> offerList = offerDao.getAll(decisionName);
    offerDao.disconnect();

    Integer emptyColumns = Integer.parseInt(request.getParameter("emptyColumns"));
    %>

    <table>
        <%for (Offer offer : offerList) {%>
        <tr>
            <td>
                <input type="text" name="name" value="<%out.print(offer.getName());%>">
            </td>
            <td>
                <input type="text" name="maxAvaiable" value="<%out.print(offer.getMaxAvaiable());%>">
            </td>
            <td>
                <input type="text" name="minGroupSize" value="<%out.print(offer.getMinGroupSize());%>">
            </td>
            <td>
                <input type="text" name="maxGroupSize" value="<%out.print(offer.getMaxGroupSize());%>">
            </td>
        </tr>
        <%}%>

        <%for (int column = 1; column <= emptyColumns; column++) {%>
        <tr>
            <td>
                <input type="text" name="name" value="">
            </td>
            <td>
                <input type="text" name="maxAvaiable" value="">
            </td>
            <td>
                <input type="text" name="minGroupSize" value="">
            </td>
            <td>
                <input type="text" name="maxGroupSize" value="">
            </td>
        </tr>
        <%}%>
    </table>

    <br>

    <form action="">
        <input id="input" type="submit" name="submit" value="Submit">
    </form>
</body>
</html>